@font-face {
    font-family:"oswald";
    src: url("/font/Oswald-Regular.ttf");
    font-weight: 500;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");


.header {
  background-color:  rgba(82, 185, 34, 0.7);
  padding: 20px;
  text-align: center;
}

.navigationbar {
    background-color:rgba(25, 250, 4, 0.295);
    padding: 25px;
    text-align: center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    list-style-type: none; 
     

}
.navigationbar li:hover {
    background-color: #ffffff;
    color: black;
}
.navigationbar li:active {
    background-color:yellow; /*miért nem működik? */
    color:black;

}

.frontimage {
    display: block;
    text-align: center;

}
.navigationbar a { 
  text-decoration: none;    
}
body {
    background-color:#ffffff;
}
h1 { 
    color:rgb(5, 97, 5);
    font-family:'Balsamiq Sans', cursive;
    text-align:center;
    font-size: 60px;
}
h3 {color:rgb(5, 97, 5);
    font-family:'Balsamiq Sans', cursive;
    font-weight:bold;
    font-size: 30px;
    text-align:center;
}
a {
    color:darkslateblue;
}
p {
    color:darkslateblue;
    font-size: 25px;
    font-family:'Balsamiq Sans', cursive;
    text-align: center;
    line-height: normal;
    font-weight: normal;
}
table {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    table-layout:fixed;
}   
table.nyitvatartas{
    border: 1px solid green;
    border-radius: 5px;

}
.green {
    background-color:rgba(25, 250, 4, 0.295);
}
.green:hover {
    background-color:rgba(25, 250, 4, 0.4);
    border-radius:15px;
}
.yellow {
    background-color:rgba(217, 233, 0, 0.5);
    border-radius:15px;
}
.yellow:hover{
    background-color:rgba(217, 233, 0, 0.7);
    border-radius:15px;
}
tr {
    border: 1px solid;
    border-radius:15px;
}
.middlecentered td{
    text-align: center;
}
td {
    padding: 2%;
    text-align:left;
    vertical-align: middle;
    font-size: 25px;
    font-family:'Balsamiq Sans', cursive;
    color:darkslateblue;
    height:fit-content;
}
th {
    font-size: 25px;
    font-family:'Balsamiq Sans', cursive;
}
ul {
    list-style-type:none;
    margin: 2%;
    padding: 0;
    display: block;
}
li {
    display: inline;
    padding: 15px;
    border:1px solid black;
    border-radius: 15px;
    margin-left: 2%;
    margin-right:2%;
}
#frontimage{ 
    width: 50%;
    display: block;
    margin: auto;
}
.etlapkep{
    max-width:18%;;
    padding-right: 1%;
    padding-bottom: 1%;
    display:block; 
    float:right; /* étlapkép helye! */
    
}
.napiakcio {
    background-color:rgba(25, 250, 4, 0.295);
    padding:1px;
    border-radius: 15px;
    margin-top:1%;
    margin-bottom:1%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 3px rgba(125, 141, 117, 0.7);
    max-width: 85%;
    height: fit-content;
    overflow-y: hidden;
}
.napiakcio:hover{
    background-color:rgba(130, 253, 119, 0.295) ;
}
.leftalign {
    text-align: left;
    text-indent: 5%;
    
}
.akcioleiras {
    text-align: justify;
    padding-left: 5px;
    text-indent: 1%;
}
.akciokep{
    width:15%;
    float:right;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}